h1{
            color:white;
            text-align: center;
            background-color: teal;
            width: 600px;
            height: 50px;
}
p{
            color:red;
            text-align: right;
}
